@tailwind base;
@tailwind components;
@tailwind utilities;

/* global.css yoki styles.css da */
.custom-scrollbar::-webkit-scrollbar {
  width: 0;
}

.custom-scrollbar:hover::-webkit-scrollbar {
  width: 6px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #a9a9a9;
  border-radius: 4px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #555;
}